@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

html {
  scroll-behavior: smooth;
  overflow-x: clip;
  scrollbar-gutter: stable;
}

/* modal open hole body te jate extra padding/shift na hoi */
body[data-scroll-locked] {
  padding-right: 0px !important;
  margin-right: 0px !important;
}

/* scrollbar thakar jonno layout shift bondho korte */
html {
  scrollbar-gutter: stable;
}